
<footer class="mainfooter" role="contentinfo">
  <div class="footer-top p-y-2">
    <div class="container-fluid">
    </div>
  </div>
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <p class="title">Townhouse Investment Group</p>
          <h4>Address</h4>
          <address>

                <ul class="list-unstyled">
                  <li>
                    6300 Variel Avenue apt 346 <br>
                    Woodland Hills CA 91367.<br>
                    <br>
                  </li>
                </ul>
              </address>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Contact Us</h4>
          <ul class="list-unstyled">
            <li><a href="#">contacto@townhouseig.cl</a></li>
            <li><a href="#">Fax: (818)610-8025 </a></li>
            <li><a href="#">Phone: 3106017279 </a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <% if params[:controller] == 'pages' %>
        <%= render 'shared/widgetprojects' %>
        <% end %>
      </div>

      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad pad-3">
                <a class="" href="#">
                  <%= image_tag 'logo-02.png' %>
                </a>
        </div>
      </div>

    </div>
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">&copy; © Copyright 2018 - Townhouse Investment Group LLC</p>
        </div>
      </div>
    </div>
  </div>
</footer>
