	<div class="widget">
        <h5 class="widget-title">PROJECTS</h5>
        <ul class="widget-projects"> 
          <% @projects.each do |project| %>
          <li>
            <%= link_to project.name, project_path(project), data: { turbolinks: false }, class: '' %>
          </li>
            
          <% end %>
        </ul>
    </div>