<%= render 'shared/navbar' %>

	<div class="container mr-top underline alice">
		<div class="row">
			<div class="col-md-6">
				<figure class="figure">
          <%= image_tag 'Logo-01-01', class: 'figure-img img-fluid' %>
				</figure>
			</div>

			<div class="col-md-6">
				<div class="boxed">
					<p class="content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quibusdam animi, facilis optio autem, molestias ea magnam neque vitae minus ipsa sapiente quam. Molestiae quibusdam at, a labore ipsam consectetur?
						<br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil iure cumque officiis est sint enim, nam laborum minima, reprehenderit architecto tenetur, explicabo eos veritatis vel amet placeat quo. Incidunt, aut!
					</p>

				</div>
			</div>

			<div class="col-md-12 text-right mr-top">

					<button class="btn btn-info">Projects<i class="fas fa-chevron-right"></i></button>

					<button class="btn btn-info">Contact Us<i class="fas fa-chevron-right"></i></button>
			</div>
		</div>
	</div>
