<%= render 'shared/navbar' %>
	<div class="container-fluid bkg-about alice d-flex justify-content-center ">
		<div class="row tint boxed-style p-5">
			<div class="col-md-12  ">

				<figure class="figure">
		          <%= image_tag 'Logowhite-01.png', class: 'figure-img img-fluid w-50' %>
				</figure>
				<h3>Build Tomorrow Today </h3>

			</div>
		</div>
	</div>
	<div class="container-fluid  underline alice about-info-box">
		<div class="row">



			<div class="col-md-12">
				<div class="">

					<p class="content">
						Townhouse IG is a family-owned real estate investment firm. We deliver a single low-risk plan that can help you lay the foundation for a brighter future. Our initial investment starts at $40,000 dollars and up. We’re a company that treats your money like our own and our customers like family. We don’t risk it on the stock market and we never invest it in a project we don’t 100% believe in. Townhouse IG also operates with 100% transparency and never resorts to asterisks or fine print. What you read is what you get: 9 to 12.5-percent returns in just 12 months on a 24 Month investment product. Our family has decades of experience in construction and real estate—and, up until now, has relied on family investors to get the job done. With 6 profitable projects under our belt, we decided to open the door to any American dreaming of a better future. But, we’re not just a family-owned construction business. We’re one headed by a chairman with more than 10 years of accounting and finance experience. So, if you’re tired of riding the Wall Street rollercoaster, consider giving us a call. Put your trust in Townhouse IG.
					</p>

				</div>
			</div>

			<div class="col-md-12 text-right mr-top">

					<%= link_to pages_projects_path do  %>
			          <button class="btn  m-1" >Projects</button>
			        <% end %>
					<button class="btn btn-info m-1">Contact Us<i class="fas fa-chevron-right"></i></button>
			</div>
		</div>
	</div>
