<%= render 'shared/navbar' %>
<div class="container">
	<div class="row d-flex align-items-stretch">
		<div class="">
			
		</div>

		<div class="col-md-6 d-flex flex-column p-5">
			<form>

				<div class="form-group">
				    <label for="exampleFormControlInput1">Name</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				</div>


				<div class="form-group">
				    <label for="exampleFormControlInput1">Phone</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				</div>

			  <div class="form-group">
			    <label for="exampleFormControlInput1">Email address</label>
			    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
			  </div>
			  

			  
			  

			  <div class="form-group">
			    <label for="exampleFormControlTextarea1">Message</label>
			    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			  </div>
			</form>
		</div>

		<div class="col-md-6 contact-div d-flex align-items-center p-5">
			<ul class="contact-info-list">
				<li>
					<h3>Address</h3>
					<h4>21044 Sherman way Ste 233, </br>
					Canoga park,CA 91303</h4>
				</li>
				<li>
					<h3>Email</h3>
					<h4>contact@townhouseig.cl</h4>
				</li>
				<li>
					<h3>Fax</h3>
					<h4>818.610.8025</h4>
					<h3>Phone</h3>
					<h4>310.601.7279</h4>
					
				</li>
			</ul>
		</div>
		

	</div>
</div>
