<%= render 'shared/navbar' %>
	<div class="container-fluid bkg-numbers alice d-flex justify-content-center ">
		<div class="row tint boxed-style p-5">
			<div class="col-md-12  p-5">

				<h3>Lets Talk Numbers</h3>

			</div>
		</div>
	</div>
	<div class="container-fluid  underline alice numbers-info-box">
		<div class="row">



			<div class="offset-md-3 col-md-6">
				<div class="">

					<p class="content">
            There is a principle in finance called the rule of 72. It’s a measure of how quickly your money doubles at a certain rate of return.
            With us, that averages out to just six years. Here are some important things you should know if you’re ready to invest with us:

            Our minimum investment amount is 50,000 USD.
            Average returns range between 11 and 14 percent
            Fees total x per one round of investment
					</p>

				</div>
				<%= link_to pages_projects_path do  %>
		          <button class="btn btn-outline-info m-1" >Projects</button>
		        <% end %>
				

					<button class="btn btn-info m-1">Contact Us<i class="fas fa-chevron-right"></i></button>
			</div>
			

			<div class="col-md-12 text-right mr-top">

					
			</div>
		</div>
	</div>
