<%= render 'shared/navbar' %>
	<div class="container-fluid bkg-about alice d-flex justify-content-center ">
		<div class="row tint boxed-style p-5">
			<div class="col-md-12  ">

				<figure class="figure">
		          <%= image_tag 'Logowhite-01.png', class: 'figure-img img-fluid w-50' %>
				</figure>
				<h3>Build Tomorrow Today </h3>

			</div>
		</div>
	</div>
	<div class="container-fluid  underline alice about-info-box">
		<div class="row">



			<div class="col-md-12">
				<div class="">

					<p class="content">
            There is a principle in finance called the rule of 72. It’s a measure of how quickly your money doubles at a certain rate of return.
            With us, that averages out to just six years. Here are some important things you should know if you’re ready to invest with us:

            Our minimum investment amount is 50,000 USD.
            Average returns range between 11 and 14 percent
            Fees total x per one round of investment
					</p>

				</div>
			</div>

			<div class="col-md-12 text-right mr-top">

					<button class="btn btn-info m-1">Projects<i class="fas fa-chevron-right"></i></button>

					<button class="btn btn-info m-1">Contact Us<i class="fas fa-chevron-right"></i></button>
			</div>
		</div>
	</div>
