<%= render 'shared/navbar' %>
	<div class="container-fluid bkg-numbers alice d-flex justify-content-center ">
		<div class="row tint boxed-style p-5">
			<div class="col-md-12  p-5">

				<h3>Lets Talk Numbers</h3>

			</div>
		</div>
	</div>
	<div class="container-fluid  underline alice numbers-info-box">
		<div class="row">



			<div class="col-md-12">
				<div class="">

					<p class="content">
            There is a principle in finance called the rule of 72. It’s a measure of how quickly your money doubles base on your interest rate. With us, that averages out to just six years. Here are some important things you should know if you’re ready to invest with us: Our minimum investment amount is $40,000 USD. Average returns range between 9 and 12.5-percent.All of our investments our on a 24 Month period and we do not make monthly distributions.On month 24 you will receive your funds plus interest earn as a 1 lump sum for the entire amount.You then can choose to reinvest all or some of your money again on a new 24 month period investment.Example: If you invest x amount you will receive between 18-percent and 25-percent return on investment. if you invest $100.00 USD you will receive $125.000 USD on month 24.Simple and clear just like we like it.We believe that under this simple rules we can go a long way
					</p>

				</div>
				
				

			</div>

			<div class="col-md-12 mt-5">
				<div class="">
					<h2 class="slogan">The Rule of 72</h2>

					<p class="content">
            The Rule of 72 says that to find the number of years needed to double your money at a given interest rate, you just divide 72 by the interest rate. For example, if you want to know how long it will take to double your money at nine percent interest, divide 72 by 9 and get 8 years
					</p>

				</div>
				<a href="https://goodcalculators.com/rule-of-72-calculator/">
					<button class="btn  m-1" >Rule 72 Calculator Website</button>
				</a>
				<p></p>
		          
		       
				

					
			</div>
			

			<div class="col-md-12 text-right mr-top">

					
			</div>
		</div>
	</div>
