<%= render 'shared/navbar' %>
<div class="container-fluid mr-top">
  <div class="row">
    <div class="col s2 text-center">
      <h4 class="title-h ">Projects</h4>
    </div>
  </div>

  <div class="row mr-top underline alice">



    <div class="col-md-4">
      <img class="imagen" src="http://thekorgroup.com/wp-content/uploads/2016/06/Avalon_Dec2015_CabanaStraightWide_B_LR-1.jpg" alt="">
    </div>

    <div class="col-md-4">
      <canvas id="grafico1" height="150px"></canvas>
    </div>

    <div class="col-md-4 content boxed">
      <h5 class="project-title">Los Robles</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, possimus voluptatem unde sit modi voluptas alias tempore enim, aliquam maiores. Atque ad architecto natus quasi eveniet maxime, nostrum aspernatur eum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, corrupti, commodi quisquam provident culpa, possimus cum animi, laboriosam minus consectetur eligendi minima. Officiis culpa id vel voluptas, dolorem magni necessitatibus.</p>
      <button class="btn btn-info">See More<i class="fas fa-chevron-right"></i></button>
    </div>
  </div>


  <div class="row mr-top underline alice">
    <div class="col-md-4 content boxed">
      <h5 class="project-title">Los Robles</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, possimus voluptatem unde sit modi voluptas alias tempore enim, aliquam maiores. Atque ad architecto natus quasi eveniet maxime, nostrum aspernatur eum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, corrupti, commodi quisquam provident culpa, possimus cum animi, laboriosam minus consectetur eligendi minima. Officiis culpa id vel voluptas, dolorem magni necessitatibus.</p>
      <button class="btn btn-info">See More<i class="fas fa-chevron-right"></i></button>
    </div>

    <div class="col-md-4">
      <canvas id="grafico2" height="150px"></canvas>
    </div>


    <div class="col-md-4">
      <img class="imagen" src="http://thekorgroup.com/wp-content/uploads/2016/06/Avalon_Dec2015_CabanaStraightWide_B_LR-1.jpg" alt="">
    </div>
  </div>

  <div class="row mr-top underline alice">



    <div class="col-md-4">
      <img class="imagen" src="http://thekorgroup.com/wp-content/uploads/2016/06/Avalon_Dec2015_CabanaStraightWide_B_LR-1.jpg" alt="">
    </div>

    <div class="col-md-4">
      <canvas id="grafico3" height="150px"></canvas>
    </div>

    <div class="col-md-4 content boxed">
      <h5 class="project-title">Los Robles</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, possimus voluptatem unde sit modi voluptas alias tempore enim, aliquam maiores. Atque ad architecto natus quasi eveniet maxime, nostrum aspernatur eum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, corrupti, commodi quisquam provident culpa, possimus cum animi, laboriosam minus consectetur eligendi minima. Officiis culpa id vel voluptas, dolorem magni necessitatibus.</p>
      <button class="btn btn-info">See More<i class="fas fa-chevron-right"></i></button>
    </div>
  </div>


  <div class="row mr-top underline alice">
    <div class="col-md-4 content boxed">
      <h5 class="project-title">Los Robles</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, possimus voluptatem unde sit modi voluptas alias tempore enim, aliquam maiores. Atque ad architecto natus quasi eveniet maxime, nostrum aspernatur eum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, corrupti, commodi quisquam provident culpa, possimus cum animi, laboriosam minus consectetur eligendi minima. Officiis culpa id vel voluptas, dolorem magni necessitatibus.</p>
      <button class="btn btn-info">See More<i class="fas fa-chevron-right"></i></button>
    </div>

    <div class="col-md-4">
      <canvas id="grafico4" height="150px"></canvas>
    </div>


    <div class="col-md-4">
      <img class="imagen" src="http://thekorgroup.com/wp-content/uploads/2016/06/Avalon_Dec2015_CabanaStraightWide_B_LR-1.jpg" alt="">
    </div>
  </div>
  
