// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #141414;
  margin: 20px;
  box-shadow: 0px 0px 1px #474747;
 }

 .skin{
  background-color: white;
  
  box-shadow: inset 0px 0px 5px #d4d4d4;
 }

nav{
  box-shadow: 0px 0px 4px #d4d4d4 !important;
    border-bottom: 1px solid #c8c8c8 !important; 
 }

.fa-chess-pawn{
  font-size: 50px;
  color: #474747;
}

.metal-bkg{
  background: linear-gradient(#fff, #f4f4f4);
}
 .drop-shadow{
  box-shadow: 0px 0px 4px #d4d4d4 !important;
 }






*{
  box-sizing: border-box;

}


.gap{
  padding: 20px !important;



}
.show-content{
  background-color: #f8f8f8;
  border-left: 1px solid #f6f6f6;
  padding: 2%;
  box-shadow: 1px 1px 2px #474747;
}

.content{
  font-family: 'PT Serif', serif;
}
.title{
  font-family: 'Anton', sans-serif;
  
  display: inline-block;
  color: #474747
}

.title-h{
  font-family: 'Anton', sans-serif;
 
  padding-left: 5px;
  display: inline-block;
  color: #474747;
  font-size: 50px;
}




.project-title{

  padding: 10px;
  font-family: 'Anton', sans-serif;
  color: #474747;

}

main{
  text-align: center;
  padding-top: 50px;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 50px;

  color: #183E41;

}



.counts{
  text-align: center;
    background-image: url("/assets/bkg-count.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;

    background-position: bottom;
    background-attachment: fixed;
}

.count{
    color: white;
    font-size: 80px !important;
}
.fa-chevron-right{
  margin-left: 10px;
}

.navbar-brand>img{
  width: 200px;
}
.indicator-item.active {
  background-color: #adaeb3;

}
.mr-top{
  margin-top: 20px;
}
.mr-bot{
  margin-bottom: 50px;
}
.pd-100{
  padding-top: 100px;
  padding-bottom: 100px;
}
.fi-sect{
  padding: 10px;
}
footer {
  color: #adaeb3;
}

.underline {
  border-bottom: solid 1px #c8c8c8;
}

nav {
  position: sticky;
  top: 0;
  height: 70px;
   -webkit-box-shadow: 0 8px 6px -6px rgba(35, 63, 26, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 8px 6px -6px rgba(35, 63, 26, 0.2);  /* Firefox 3.5 - 3.6 */
    box-shadow: 0 8px 6px -6px rgba(35, 63, 26, 0.2);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    position: sticky !important;
    z-index: 9999;
  border-bottom: 1px solid #eae2e2;
}
.imagen {
  width: 100%;
  border: 3px solid #f8f8f8;
  box-shadow: 1px 1px 1px #d8d8d8;
}
#logo {
  max-width: 40%;
  padding: 10px;
}

#pagecontent {
position: relative;
top : 100vh;
}
nav ul a, nav .brand-logo.center {
  color: rgba(0,0,0,0.7)
}
.slider .indicators .indicator-item {
  background-color: rgba(0,0,0,0.3)
}

.background-white {
  background-color: rgba(255,255,255,0.6);
  position: relative;
  top:35%;
}


.carousel-item{
  height: 100vh !important;
  .carousel-caption{
    margin: auto !important;  
    width: 30rem;
    top: 5% !important;
    bottom: none !important;
    -webkit-filter: drop-shadow(12px 12px 15px rgba(0, 0, 0, 0.8));
    -webkit-filter: opacity(0.8);
  }

}


footer{
  background: linear-gradient(to bottom right, #f9f9f9, white);
  padding-top: 20px;
}

.home-projects{
  margin: 0px !important;
  box-shadow: 0px 0px 6px #c8c8c8 !important;
}

.home-projects:hover{
  box-shadow: 1px 1px 1px #c8c8c8;
}

.home-projects-box{
  text-align: center;

}


.link{
  padding:  10px;
  border: 1px solid #c8c8c8;
  text-align: right;
}



.alice{
  padding: 50px;
}

.alice > img{
  border: 1px solid #c8c8c8;
}

.boxed{
  padding: 10px;
  background-color: #f6f6f6;
  border: 1px solid #d8d8d8;
  color: #474747;
}
